/* Default Elements */
body {
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #AD974F;
    /* background: linear-gradient(45deg,#F7971E, #FFD200); */
}

a {
    text-decoration: none;
    color: #000000;
}

hr {
    border: none;
    border-top: solid #000000;
    height: 0;
    width: 90%;
}

/* Navigation Elements*/
.nav {
    font-family: 'Great Vibes', cursive;
}

.nav ul {
    list-style-type: none;
}

.nav-brand {
    padding: 0.5%;
    font-size: 3.1rem;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-items li {
    padding: 1%;
    margin: 1% 5%;
    font-size: 2rem;
    border-radius: 10%;
}

.nav-items li:hover {
    background-color: #FFFFFF;
}

.hamburger {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 2.3rem;
    right: 1rem;
    width: 30px;
    height: 21px;
    border: none;
    padding: 3px;
    background-color: transparent;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.hamburger:hover {
    background-color: #FFFFFF;
    border-radius: 10%;
}

/* Footer Elements */
.newsletter {
    padding: 3%;
}

.newsletter-form {
    background-color: #000000;
    color: #FFFFFF;
    padding: 1%;
    width: 400px;
    margin: auto;
}

.newsletter-form input {
    font-family: 'Merriweather', serif;
    text-align: center;
    border: none;
    padding: 1%;
    margin: 1%;
    width: 340px;
}

.newsletter-form button {
    font-family: 'Merriweather', serif;
    background-color: #FFFFFF;
    border: none;;
    padding: 1%;
    margin-bottom: 2%;
    width: 348px;
}

.newsletter-form button:hover {
    background-color: #AD974F;
    color: #FFFFFF;
}

footer p {
    font-size: 0.8rem;
}

.footer-info {
    font-size: 1.1rem;
}

/* Home Page Elements */
.hero img {
    width: 85%;
    object-fit: cover;
}

.events h2 {
    font-size: 2.3rem;
}

/* Event Elements */
.event {
   margin: auto; 
}

.event li {
    text-align: left;
    font-size: 1.2rem;
}

.event h4 {
    font-size: 2rem;
}

.event img {
    width: 80%;
    object-fit: cover;
}

.event-table-gap {
    width: 5%;
}

@media only screen and (max-width: 644px) {
    .events h2 {
        font-size: 1.8rem;
    }
    
    .event h4 {
        font-size: 1.5rem;
    }

    .event li {
        font-size: 0.8rem;
    }
}

/* Our Story Page Elements */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about img {
    width: 500px;
    object-fit: scale-down;
    margin: 2%;
}

.about p {
    margin: 3%;
    width: 50%;
}

/* Products Page Elements */
.product-item {
    margin: 5%;
}

.product-item img {
    width: 50%;
}


/* Locations Page Elements */
.locations-title {
    margin-bottom: 4%;
}

.place {
    margin-bottom: 4%;
}

.place a {
    text-decoration: underline;
}

/* Careers Page Elements */
.careers-caption {
    margin: auto;
    width: 80%;
}

.careers-apply {
    margin-bottom: 3%;
}

.job {
    border: 3px solid #000000;
    margin: 5% 13%;
    padding: 0 5%;
}

.job h4{
    text-decoration: underline;
}

/* Contact Page Elements */
.contact-caption {
    margin: 2% 5% 3%;
}

.contact-form table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
}

.contact-form td {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 300;
    border: solid black;
    padding: 5px;
}

.contact-table-title {
    text-align: left;
    width: 40px;
}

.contact-table-input {
    width: 300px;
}

.contact-input {
    width: 100%;
    background: transparent;
    border: none;
}

.contact-form button {
    width: 5rem;
    padding: 0.3rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    border: solid black;
    background-color: transparent;
    margin: 15px;
}

.contact-form button:hover {
    background-color: #000000;
    color: #AD974F;
}

@media only screen and (max-width: 830px) {
    .contact-form table {
        width: 80%;
    }
}


